<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PVM Test Suite">
            <directory>Console/Command</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="PVM_HOME" value="/tmp/pvm_test"/>
    </php>
</phpunit>
